@import '../../../../assets/css/variables_and_mixins';

body {
    position: relative;
}

#content {
    @include flex_center();
    padding: 24px;
    position: relative;
    overflow: hidden;

    .wrap {
        max-width: 1180px;
        width: 100%;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0px 1px 4px rgb(0 0 0 / 20%);
        padding: 32px 48px;
        @include flex_vertical();
        gap: 24px;

        > h2 {
            @include heading_2();
            color: $brand_1_900;
            max-width: 890px;
            width: 100%;
        }

        form {
            @include flex();
            gap: 24px;

            .form_control {
                @include flex_vertical();
                column-gap: auto;
                row-gap: 8px;
                max-width: 48.5%;
                width: 100%;

                label {
                    @include text_base_400();
                    color: $neutral_500;
                }

                input {
                   width: 100%; 
                }
            }

            .form_control.interested_trip {
                max-width: 100%;

                .selection {
                    max-width: 640px;
                    width: 100%;
                    @include flex();
                    gap: 24px;

                    > select {
                        width: 82.4%;
                    }

                    > .button {
                        border: none;
                        background-color: $brand_1_900;
                        color: $brand_1_50;
                        padding: 12px 24px;
                        cursor: pointer;
                    }
                }

                .trips {
                    @include flex();
                    gap: 8px;
                    padding-top: 16px;

                    .trip {
                        @include flex_center();
                        gap: 6px;
                        border-radius: 12px;
                        background-color: $brand_1_50;
                        overflow: hidden;
                        padding-right: 6px;

                        .img {
                            width: 50px;
                            height: 50px;
                            background-image: url('https://placehold.co/600x400');
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }

                        .title {
                            @include text_xs_400();
                            color: $neutral_500;
                            width: 100px;
                            display: -webkit-box;
                            max-width: 200px;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }

                        svg {
                            cursor: pointer;

                            &:hover {
                                path {
                                    fill: $neutral_500;
                                }
                            }
                        }
                    }
                }
            }

            .form_control.message {
                max-width: 100%;

                textarea {
                    height: 200px;
                }
            }

            .conditions {
                @include flex_vertical();
                gap: 16px;

                .title {
                    @include heading_2();
                    color: $brand_1_900;
                }

                ol {
                    @include flex_vertical();
                    gap: 16px;
                    padding-left: 16px;
                    
                    li {
                        list-style: decimal;
                        @include text_base_400();
                    }
                }
            }

            .agreement {
                @include flex();
                gap: 16px;
                width: 100%;

                label {
                    @include text_base_400();
                    color: $neutral_500;
                }
            }

            .actions {
                padding-top: 24px;

                .button {
                    border: none;
                    background-color: $brand_2_900;
                    color: $brand_1_50;
                    padding: 12px 32px;
                    font-size: 20px;
                }
            }
        }
    }

    .coconut_bg_left {
        position: absolute;
        top: 130px;
        left: 0px;
        z-index: -2;
    }

    .coconut_bg_right {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: -2;
    }

    .land_bg {
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: -1;
        width: 100%;
    }
}

@media(max-width:980px) {

    #content {
        .wrap {
            form {
                column-gap: 0px;

                .form_control {
                    max-width: 50%;
                    padding-right: 24px;
                }
            }
        }
    }
}

@media(max-width:780px) {

    #content {
        .wrap {
            padding: 24px;

            > h2 {
                @include heading_4();
            }

            form {
                column-gap: 0px;

                .form_control {
                    max-width: 100%;
                    padding-right: 0px;
                }

                .form_control.interested_trip {
                    .selection {
                        > select {
                            max-width: 250px;
                        }
                    }
                }

                .conditions {
                    .title {
                        @include heading_3();
                    }
                }
            }
        }
    }
}

@media(max-width:480px) {

    #content {
        .wrap {
            form {
                .form_control.interested_trip {
                    .selection {
                        max-width: 100%;
                        gap: 8px;

                        > select {
                            max-width: 100%;
                            width: 100%;
                        }
                    }
                }

                .actions {
                    .button {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}