@import '../../../../../assets/css/variables_and_mixins';

#content {
    @include flex_center();
    padding: 0px 24px;

    .wrap {
        max-width: 1180px;
        width: 100%;
        padding: 32px 0px;
        @include flex_vertical();
        gap: 48px;

        .features {
            @include flex();
            align-items: flex-start;
            gap: 24px;

            .images {
                max-width: 820px;
                width: 100%;
                border: 10px solid $brand_1_50;
                border-radius: 16px;
                box-shadow: 0px 1px 4px rgb(0 0 0 / 20%);
                position: relative;

                #images_carousel {

                    .slick-arrow {
                        display: none;
                    }

                    .img {
                        background-image: url('https://placehold.co/600x400');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        height: 600px;
                    }
                }

                .fullscreen {
                    position: absolute;
                    bottom: 16px;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 12px;
                    background-color: rgb(0, 0, 0, 0.3);
                    border-radius: 1000px;
                    opacity: 0;
                    cursor: pointer;
                    @include flex_center();
                }

                .previous {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    z-index: 1;
                    height: 100%;
                    background-color: rgb(0, 0, 0, 0.3);
                    @include flex_center();
                    padding: 0px 24px;
                    opacity: 0;
                    cursor: pointer;
                }

                .next {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    z-index: 1;
                    height: 100%;
                    background-color: rgb(0, 0, 0, 0.3);
                    @include flex_center();
                    padding: 0px 24px;
                    opacity: 0;
                    cursor: pointer;
                }

                &:hover {
                    .fullscreen,
                    .previous,
                    .next {
                        opacity: 1;
                    }
                }
            }

            .details {
                @include flex_vertical();
                gap: 32px;
                max-width: 336px;
                width: 100%;
                
                .pricing {
                    @include flex_vertical();
                    gap: 6px;

                    > div {
                        @include flex_vertical();
                        gap: 6px;

                        .label {
                            @include text_base_400();
                            color: $neutral_500;
                        }
    
                        .value {
                            @include heading_3();
                            color: $neutral_600;
                        }
                    }

                    .cta {
                        padding-top: 16px;
                        @include flex();

                        .button {
                            background-color: $brand_2_900;
                            color: $brand_2_50;
                            font-size: 20px;
                            padding: 12px 32px;
                            margin-right: auto;
                        }
                    }
                }

                .info {
                    @include flex_vertical();
                    gap: 16px;

                    > div {
                        @include flex_vertical();
                        gap: 6px;

                        .label {
                            @include text_base_400();
                            color: $neutral_500;
                        }

                        .value {
                            @include text_lg_700();
                            color: $neutral_500;
                        }
                    }
                }
            }
        }

        .description {
            @include flex_vertical();
            gap: 16px;

            .title {
                @include heading_3();
                color: $neutral_600;
            }

            > p {
                @include text_base_400();
                color: $neutral_500;
            }
        }

        .video_promotion {
            width: 100%;
            height: 700px;

            > video {
                width: 100%;
                height: 100%;
                border-radius: 16px;
                background-color: $brand_1_200;
            }
        }

        .key_highlights {
            @include flex_vertical();
            gap: 16px;

            .title {
                @include heading_3();
                color: $neutral_600;
            }

            > ul {
                @include flex_vertical();
                gap: 16px;

                .highlight {
                    @include flex();
                    align-items: flex-start;
                    gap: 16px;

                    > p {
                        @include text_base_400();
                        color: $neutral_500;
                        max-width: 95%;
                        width: 100%;
                    }
                }
            }
        }

        .itenerary {
            @include flex_vertical();
            gap: 16px;

            .title {
                @include heading_3();
                color: $neutral_600;
            }

            .itenerary_tab {
                @include flex_vertical();
                gap: 16px;

                .tab_head {
                    @include flex();

                    .tab {
                        padding: 12px 16px;
                        color: $neutral_500;
                        border-right: 1px solid $neutral_50;
                        @include heading_5;
                        max-width: 112px;
                        width: 100%;
                        text-align: center;
                        cursor: pointer;
                    }

                    .tab.current {
                        border-radius: 4px;
                        background-color: $brand_1_900;
                        color: $brand_1_50;
                        border: none;
                    }

                    > :last-child {
                        border: none;
                    }
                }

                .tab_content {
                    display: none;
                    padding-top: 16px;
                    padding-left: 16px;

                    .content {
                        padding-left: 32px;
                        padding-bottom: 24px;
                        border-left: 1px solid $neutral_50;
                        position: relative;
                        @include text_base_400();
                        color: $neutral_500;
                        
                        &::before {
                            content: '';
                            width: 15px;
                            height: 15px;
                            background-color: $brand_2_900;
                            border-radius: 1000px;
                            position: absolute;
                            left: -8px;
                            top: 0px;
                            margin-top: 3px;
                        }
                    }

                    > .content:first-of-type {

                        &::before {
                            width: 29px;
                            height: 29px;
                            background-image: url($images_uri + '/single_destination_itenerary_location.png');
                            background-position: center;
                            background-repeat: no-repeat;
                            position: absolute;
                            left: -15px;
                            top: 0px;
                            margin-top: 0px;
                        }
                    }

                    > .content:last-of-type {
                        border: none;

                        &::before {
                            width: 29px;
                            height: 29px;
                            background-image: url($images_uri + '/single_destination_itenerary_location.png');
                            background-position: center;
                            background-repeat: no-repeat;
                            position: absolute;
                            left: -15px;
                            top: 0px;
                            margin-top: 0px;
                        }
                    }
                }

                .tab_content.show {
                    display: block;
                }
            }
        }

        .cta_section {
            @include flex();
            gap: 24px;
            padding: 64px 0px;
            position: relative;

            .left {
                @include flex_vertical();
                gap: 12px;
                max-width: 578px;
                width: 100%;

                .title {
                    @include heading_1();
                    color: $neutral_700;
                }

                > p {
                    @include heading_4();
                    color: $neutral_700;
                }

                .cta_section_bg_luggage {
                    position: absolute;
                    top: 0px;
                    left: -100px;
                    z-index: -1;
                }
            }

            .right {
                max-width: 578px;
                width: 100%;

                .button {

                    > svg {
                        width: 48px;
                        height: 48px;
                    }

                    background-color: $brand_2_900;
                    padding: 12px 32px;
                    @include text_lg_700();
                    font-size: 32px;
                    color: $brand_2_50;
                }
            }
        }
    }
}

#lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -100;
    opacity: 0;
    background-color: rgb(0, 0, 0, 0.2);
    padding: 24px;
    @include flex_center();
    transition: opacity 300ms ease;

    .images {
        max-width: 1420px;
        width: 100%;
        height: 100%;
        
        border: 10px solid $brand_1_50;
        border-radius: 16px;
        box-shadow: 0px 1px 4px rgb(0 0 0 / 20%);
        position: relative;

        #lightbox_images_carousel {
            height: 100%;
            
            .slick-list, .slick-track {
                height: 100%;
            }

            .slick-arrow {
                display: none !important;
            }

            .img {
                background-image: url('https://placehold.co/600x400');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 100%;
            }
        }

        .close_lightbox {
            position: absolute;
            bottom: 16px;
            left: 50%;
            transform: translateX(-50%);
            padding: 12px;
            background-color: rgb(0, 0, 0, 0.3);
            border-radius: 1000px;
            opacity: 0;
            cursor: pointer;
            @include flex_center();
        }

        .previous {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            height: 100%;
            background-color: rgb(0, 0, 0, 0.3);
            @include flex_center();
            padding: 0px 24px;
            opacity: 0;
            cursor: pointer;
        }

        .next {
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 1;
            height: 100%;
            background-color: rgb(0, 0, 0, 0.3);
            @include flex_center();
            padding: 0px 24px;
            opacity: 0;
            cursor: pointer;
        }

        &:hover {
            .close_lightbox,
            .previous,
            .next {
                opacity: 1;
            }
        }
    }
}

#lightbox.show {
    opacity: 1;
    z-index: 100;
}

@media(max-width:1227px) {

    #content {
        .wrap {
            .features {
                .images {
                    max-width: 100%;
                }

                .details {
                    max-width: 100%;

                    .pricing {
                        width: 100%;
                        padding-right: 24px;
                        flex-direction: row;

                        > div {
                            padding-right: 24px;
                        }

                        .cta {
                            margin-left: auto;
                        }
                    }

                    .info {
                        flex-direction: row;
                        flex-wrap: wrap;
                        column-gap: 0px;
                        
                        > div {
                            width: 50%;
                            padding-right: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1180px) {
    #content {
        .wrap {
            .key_highlights {
                > ul {
                    .highlight > p {
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media(max-width:980px) {
    #content {
        .wrap {
            .features {
                .images {
                    #images_carousel {
                        .img {
                            height: 60vw;
                        }
                    }
                }
            
                .details {
                    .pricing {
                        width: 100%;
                        padding-right: 24px;
                        flex-direction: row;
                        flex-wrap: wrap;

                        > div {
                            padding-right: 24px;
                        }

                        .cta {
                            width: 100%;
                        }
                    }
                }
            }

            .video_promotion {
                height: 70vw;
            }
        }
    }
}

@media(max-width:640px) {
    #content {
        .wrap {
            .features {
                .images {
                    .previous,
                    .next {
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                }
            }

            .key_highlights {
                > ul {
                    .highlight {
                        gap: 12px;

                        > p {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:480px) {
    #content {
        .wrap {
            .features {
                .details {
                    .pricing {
                        .cta {
                            .button {
                                max-width: 270px;
                                width: 100%;
                                padding-left: 12px;
                                padding-right: 12px;
                                font-size: 18px;
                            }
                        }
                    }

                    .info {
                        > div {
                            width: 100%;
                        }
                    }
                }
            }

            .cta_section {
                padding-top: 0px;
                padding-bottom: 32px;

                .right {
                    .button {
                        font-size: 24px;
                        padding-left: 8px;
                        padding-right: 8px;

                        > svg {
                            width: 32px;
                        }
                    }
                }
            }

            .itenerary {
                .itenerary_tab {
                    .tab_head {
                        .tab {
                            border-left: 1px solid $neutral_50;
                            border-right: none;
                            max-width: 50%;
                        }

                        > .tab:last-of-type {
                            border-right: 1px solid $neutral_50;
                        }
                    }
                }
            }
        }
    }
}